@font-face {
  font-family: "iconfont"; /* Project id 4890160 */
    src: url('iconfont.eot?t=1745141076435'); /* IE9 */
    src: url('iconfont.eot?t=1745141076435#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('iconfont.woff2?t=1745141076435') format('woff2'),
    url('iconfont.woff?t=1745141076435') format('woff'),
    url('iconfont.ttf?t=1745141076435') format('truetype'),
    url('iconfont.svg?t=1745141076435#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.kongxin-music:before {
    content: "\e600";
}

.kongxin-zhuanji:before {
    content: "\e60a";
}

.kongxin-gedan:before {
    content: "\e636";
}

.kongxin-danqu:before {
    content: "\e6ab";
}

.kongxin-geshou1:before {
    content: "\e601";
}

.kongxin-a-yinlebofangliebiaoyinle:before {
    content: "\e67e";
}

.kongxin-bofang:before {
  content: "\e66e";
}

.kongxin-add:before {
  content: "\e835";
}

.kongxin-delete:before {
  content: "\e839";
}

.kongxin-download:before {
  content: "\e83a";
}

.kongxin-follow:before {
  content: "\e83b";
}

.kongxin-follow-fill:before {
  content: "\e83c";
}

.kongxin-mute:before {
  content: "\e83d";
}

.kongxin-play:before {
  content: "\e83f";
}

.kongxin-volume:before {
  content: "\e847";
}

.kongxin-category-add:before {
  content: "\e84d";
}

.kongxin-category:before {
  content: "\e84e";
}

